<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="includes/css/mycss.css"> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script type="text/javascript" src="includes/js/angular.min.js"></script>
		<script type="text/javascript" src="includes/js/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="includes/controllers/controller.js"></script>
		<title>My Wallet</title>

	</head>

	c ng-app="myApp" ng-controller="myController" ng-init="show()"  >
		<div class="form-control rounded-0" id="description" placeholder="Πορτοφολι">Balance:{{money}}</div>
		<div>Transactions:</div>
		<ul>
		<li class="form control" id="transactions" ng-repeat="transaction in transactions ">Amount:{{transaction.amount}}, Id:{{transaction.id}} </li>
		</ul>
		<div>Send money to:</div>
		<select ng-model="myips" >
			<option ng-repeat="ips in ip">{{ips.ip}}</option>
		</select>
		<div>Amount:</div>
		<textarea ng-model="amount"></textarea>
		<div class="row d-flex justify-content-center">
		<button type="submit" class="btn btn-success" ng-click="send()">Submit</button>
		</div>
		<a href="info.ejs">
   			<button>Πληροφορίες</button>
		</a>
	</body>
</html>
