<!DOCTYPE html>
<html lang="gr">
<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="includes/css/mycss.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script type="text/javascript" src="includes/js/angular.min.js"></script>
		<script type="text/javascript" src="includes/js/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="includes/controllers/controller.js"></script>
		<title>My Wallet</title>

	</head>
<body>
<div>Στο balance φαίνονται τα υπολοιπόμενα χρήματά σας. Για να στείλετε χρήματα, επιλέγετε την ip που επιθυμείτε και το ποσό που θέλετε να στείλετε, εφόσον το υπόλοιπο των χρημάτων σας είναι αρεκτό, και πατάτε υποβολή.</div>
</body>
</html>
